# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=Payment-Gateway

# JWT Configuration
SECRET_KEY=your-secret-key-here-make-it-long-and-secure
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Razorpay Configuration (Test Mode)
RAZORPAY_KEY_ID=rzp_test_GhpimiYFaNSyT5
RAZORPAY_KEY_SECRET=7YHmai6XPpuj9QlPIJAcfnK5

# Server Configuration
HOST=0.0.0.0
PORT=8000